// $dark: #483e37;
// $primary: #7e7a6a;
// $secondary: #9aa674;
// $tertiary-constrast: #bec7a3;
// $tertiary: #9db062;
// $disabled: #ccde8c;
// $light: #fff;
// $backgroud: #bbbbbb;
// $error: #ff6060;

$dark: #010a0c;
$primary: #067c5c;
$secondary: #99bb2a;
$tertiary-constrast: #067c21;
$tertiary: #41bd14;
$disabled: #ccde8c;
$light: #fff;
$backgroud: #bbbbbb;
$error: #ff6060;